<header class="header navbar navbar-expand-lg bg-light navbar-sticky navbar-stuck">
    <div class="container px-3">
      <a routerLink="" class="navbar-brand pe-3">
        <img src="assets/img/logo.svg" width="47" alt="Silicon">
        Silicon
      </a>
      <div id="navbarNav" class="offcanvas offcanvas-end">
        <div class="offcanvas-body">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown mr-3">
                <a routerLink="about" class="nav-link">About</a>
            </li>
            <li class="nav-item dropdown mr-2">
                <a routerLink="contact-us" class="nav-link">Contact Us</a>
            </li>
            <li class="nav-item dropdown mr-2">
                <a routerLink="college-predictor" class="nav-link">College Predictor</a>
            </li>
            <!-- <li><a href="account-details.html" class="dropdown-item">Account Details</a></li> -->
          </ul>
        </div>
      
      </div>

      <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a routerLink="login" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex m-2" rel="noopener">
        Login
      </a>
      <a routerLink="sign-up" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex m-2" rel="noopener">
        Sign Up
      </a>
    </div>
  </header>
