<section class="position-relative py-5">

    <!-- Gradient BG -->
    <div class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary opacity-10"></div>

    <!-- Content -->
    <div class="container position-relative zindex-2 py-lg-4">
      <div class="row">
        <div class="col-lg-5 d-flex flex-column pt-lg-4 pt-xl-5">
          <h1 class="display-3 mb-4 w-100">Explore <span class="text-primary">Engineering</span> Colleges pan India</h1>
          <p class="fs-lg mb-4">Enjoy our great selection of IT courses. Choose from more than 25K online video courses and become an IT expert now!</p>

          <!-- Desktop form -->
          <form class="d-none d-sm-flex mb-4">
            <div class="input-group d-block d-sm-flex input-group-lg me-3">
              <input type="text" class="form-control w-50" placeholder="Search Colleges...">
            </div>
            <button type="submit" class="btn btn-icon btn-primary btn-lg">
              <i class="bx bx-search"></i>
            </button>
          </form>
          
          <!-- Mobile form
          <form class="d-sm-none mb-5">
            <input type="text" class="form-control form-control-lg mb-2" placeholder="Search courses...">
            <select class="form-select form-select-lg mb-2">
              <option value="" selected disabled>Categories</option>
              <option value="Web Development">Web Development</option>
              <option value="Mobile Development">Mobile Development</option>
              <option value="Programming">Programming</option>
              <option value="Game Development">Game Development</option>
              <option value="Software Testing">Software Testing</option>
              <option value="Software Engineering">Software Engineering</option>
              <option value="Network & Security">Network &amp; Security</option>
            </select>
            <button type="submit" class="btn btn-icon btn-primary btn-lg w-100 d-sm-none">
              <i class="bx bx-search"></i>
            </button>
          </form> -->

          <div class="d-flex align-items-center mt-auto mb-3 mb-lg-0 pb-4 pb-lg-0 pb-xl-5">
            <div class="d-flex me-3">
              <div class="d-flex align-items-center justify-content-center bg-light rounded-circle" style="width: 52px; height: 52px;">
                <img src="assets/img/avatar/08.jpg" class="rounded-circle" width="48" alt="Avatar">
              </div>
              <div class="d-flex align-items-center justify-content-center bg-light rounded-circle ms-n3" style="width: 52px; height: 52px;">
                <img src="assets/img/avatar/15.jpg" class="rounded-circle" width="48" alt="Avatar">
              </div>
              <div class="d-flex align-items-center justify-content-center bg-light rounded-circle ms-n3" style="width: 52px; height: 52px;">
                <img src="assets/img/avatar/16.jpg" class="rounded-circle" width="48" alt="Avatar">
              </div>
            </div>

            <span class="fs-sm mb-4"><span class="text-primary fw-semibold">10K+</span> students are already with us</span>
          </div>
        </div>

        <div class="col-lg-7">

          <!-- Parallax gfx -->
          <div class="parallax mx-auto me-lg-0" style="max-width: 648px;">
            <div class="parallax-layer" data-depth="0.1">
              <img src="assets/img/landing/online-courses/hero/layer01.png" alt="Layer">
            </div>
            <div class="parallax-layer" data-depth="0.13">
              <img src="assets/img/landing/online-courses/hero/layer02.png" alt="Layer">
            </div>
            <div class="parallax-layer zindex-5" data-depth="-0.12">
              <img src="assets/img/landing/online-courses/hero/layer03.png" alt="Layer">
            </div>
            <div class="parallax-layer zindex-3" data-depth="0.27">
              <img src="assets/img/landing/online-courses/hero/layer04.png" alt="Layer">
            </div>
            <div class="parallax-layer zindex-1" data-depth="-0.18">
              <img src="assets/img/landing/online-courses/hero/layer05.png" alt="Layer">
            </div>
            <div class="parallax-layer zindex-1" data-depth="0.1">
              <img src="assets/img/landing/online-courses/hero/layer06.png" alt="Layer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="container mt-2 mt-sm-3 py-md-4 py-lg-5">
    <div class="row py-3">
      <div class="col-lg-3 col-md-2">
        <div class="container">
            <h1  style="width: 50rem; padding: 26px;"><strong style="color: #4044ee;">Popular Colleges </strong>of the Week</h1>
        </div>
       
        <div class="container d-flex">
            <!-- Item -->
              <div class="swiper-slide h-auto pb-3 m-3">
                <article class="card h-100 border-0 shadow-sm mx-2">
                  <div class="position-relative">
                    <a href="portfolio-single-course.html" class="d-block position-absolute w-100 h-100 top-0 start-0"></a>
                    <a href="#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-2 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Save to Favorites">
                      <i class="bx bx-bookmark"></i>
                    </a>
                    <img src="assets/img/portfolio/courses/02.jpg" class="card-img-top" alt="Image">
                  </div>
                  <div class="card-body pb-3">
                    <h3 class="h5 mb-2">
                      <a href="portfolio-single-course.html">HTML, CSS, JavaScript Web Developer</a>
                    </h3>
                    <p class="fs-sm mb-2">By Jenny Wilson &amp; Marvin McKinney</p>
                    <p class="fs-lg fw-semibold text-primary mb-0">$15.99</p>
                  </div>
                  <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
                    <div class="d-flex align-items-center me-4">
                      <i class="bx bx-time fs-xl me-1"></i>
                      160 hours
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="bx bx-like fs-xl me-1"></i>
                      92% (3.1K)
                    </div>
                  </div>
                </article>
              </div>
              
              <!-- Item -->
              <div class="swiper-slide h-auto pb-3 m-3">
                <article class="card h-100 border-0 shadow-sm mx-2">
                  <div class="position-relative">
                    <a href="portfolio-single-course.html" class="d-block position-absolute w-100 h-100 top-0 start-0"></a>
                    <span class="badge bg-danger position-absolute top-0 start-0 zindex-2 mt-3 ms-3">Sale!</span>
                    <a href="#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-2 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Save to Favorites">
                      <i class="bx bx-bookmark"></i>
                    </a>
                    <img src="assets/img/portfolio/courses/03.jpg" class="card-img-top" alt="Image">
                  </div>
                  <div class="card-body pb-3">
                    <h3 class="h5 mb-2">
                      <a href="portfolio-single-course.html">HTML, CSS, JavaScript Web Developer</a>
                    </h3>
                    <p class="fs-sm mb-2">By Robert Fox</p>
                    <p class="text-muted mb-0"><span class="fs-lg fw-semibold text-danger me-2">$9.99</span><del>$44.99</del></p>
                  </div>
                  <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
                    <div class="d-flex align-items-center me-4">
                      <i class="bx bx-time fs-xl me-1"></i>
                      210 hours
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="bx bx-like fs-xl me-1"></i>
                      98% (2.7K)
                    </div>
                  </div>
                </article>
              </div>
  
              <!-- Item -->
              <div class="swiper-slide h-auto pb-3 m-3">
                <article class="card h-100 border-0 shadow-sm mx-2">
                  <div class="position-relative">
                    <a href="portfolio-single-course.html" class="d-block position-absolute w-100 h-100 top-0 start-0"></a>
                    <a href="#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-2 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Save to Favorites">
                      <i class="bx bx-bookmark"></i>
                    </a>
                    <img src="assets/img/portfolio/courses/05.jpg" class="card-img-top" alt="Image">
                  </div>
                  <div class="card-body pb-3">
                    <h3 class="h5 mb-2">
                      <a href="portfolio-single-course.html">Data Science &amp; Machine Learning with Python</a>
                    </h3>
                    <p class="fs-sm mb-2">By Esther Howard</p>
                    <p class="fs-lg fw-semibold text-primary mb-0">$13.99</p>
                  </div>
                  <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
                    <div class="d-flex align-items-center me-4">
                      <i class="bx bx-time fs-xl me-1"></i>
                      170 hours
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="bx bx-like fs-xl me-1"></i>
                      96% (3.8K)
                    </div>
                  </div>
                </article>
              </div>
  
              <!-- Item -->
              <div class="swiper-slide h-auto pb-3 m-3">
                <article class="card h-100 border-0 shadow-sm mx-2">
                  <div class="position-relative">
                    <a href="portfolio-single-course.html" class="d-block position-absolute w-100 h-100 top-0 start-0"></a>
                    <a href="#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-2 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Save to Favorites">
                      <i class="bx bx-bookmark"></i>
                    </a>
                    <img src="assets/img/portfolio/courses/08.jpg" class="card-img-top" alt="Image">
                  </div>
                  <div class="card-body pb-3">
                    <h3 class="h5 mb-2">
                      <a href="portfolio-single-course.html">The Ultimate Guide to Unity Game Development</a>
                    </h3>
                    <p class="fs-sm mb-2">By Albert Flores</p>
                    <p class="fs-lg fw-semibold text-primary mb-0">$29.99</p>
                  </div>
                  <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
                    <div class="d-flex align-items-center me-4">
                      <i class="bx bx-time fs-xl me-1"></i>
                      250 hours
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="bx bx-like fs-xl me-1"></i>
                      95% (5.4K)
                    </div>
                  </div>
                </article>
              </div>
        </div>
      </div>
    </div>
  </section>